{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Signup Project</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
<div class="container">
    <!-- sign up  -->
    <div class="div-form" id="sign-up-form">
        <h1>Sign Up</h1>
        <form onsubmit="return clickedSignUp()" method="post" action="{% url 'auth:signup' %}">
            {% csrf_token %}
            <div class="label_and_input">
                <label for="name">Username</label>
                {{ signup_form.username }}
            </div>
            <div class="label_and_input">
                <label for="pass">Password</label>
                {{ signup_form.password1 }}
            </div>
            <div class="label_and_input">
                <label for="con-pass">Confirm Password</label>
                {{ signup_form.password2 }}
            </div>
            <ul>
                <li class="error hidden" id="name_error">Full Name should be more than 3 characters!</li>
                <li class="error hidden" id="not_same_pass_error">The passwords are not the same!</li>
                {% for field, error_list in errors.items %}
                    {% for error in error_list %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
            <button type="submit">Sign Up</button>
        </form>
        <p class="account_text">
            Already have an account?
            <a href="{% url 'auth:login' %}" id="login_link">Login</a>
        </p>
    </div>
</div>

<script src="{% static 'script.js' %}"></script>
</body>

</html>