{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {#    <link rel="preload" href="{% static 'fonts/niafam-icons.woff' %}" as="font" type="font/woff" crossorigin>#}
    {#    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
</head>

<body>
<div class="container">
    <div class="div-form" id="login-form">
        <div class="profile-icon">
            <a href="#" id="profile-icon">👤</a>
            <h6>profile</h6>
        </div>
        <h1>Todos</h1>
        <div class="content">
            <div class="todo" id="todo-1">
                <h3>todo 1</h3>
                <button class="delete-btn" type="button" onclick="deleteTodo(1)">🔘</button>
            </div>
            <div class="todo deleted-todo" id="todo-2">
                <h3>todo 4</h3>
                <button class="delete-btn undo-btn" type="button" onclick="undoTodo(2)">✔</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/app.js' %}"></script>
</body>

</html>