{% load static %}
{% load my_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {#    <link rel="preload" href="{% static 'fonts/niafam-icons.woff' %}" as="font" type="font/woff" crossorigin>#}
    {#    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">#}
</head>

<body>
<div class="container">
    <div class="div-form" id="login-form">
        {% header %}
        <h1>Profile</h1>
        <div class="content" id="content">
            <div class="todo user-detail" id="todo-1">
                <h3>Name:</h3>
                <p>{% if user.first_name %}{{ user.first_name }}{% else %}{% endif %}</p>
            </div>
            <div class="todo user-detail" id="todo-2">
                <h3>Lastname:</h3>
                <p>{% if user.last_name %}{{ user.last_name }}{% else %}{% endif %}</p>
            </div>
            <div class="todo user-detail" id="todo-2">
                <h3>All Todos:</h3>
                <p>{{ user.todos.count }}</p>
            </div>
            <div class="todo user-detail" id="todo-2">
                <h3>Active Todos:</h3>
                <p>{{ active_todos_count }}</p>
            </div>
            <button type="button" onclick="showChangeName()">Complete Profile</button>
        </div>
        <div class="update-form hidden" id="update-form">
            <form method="post" action="{% url 'auth:complete_profile' %}">
                {% csrf_token %}
                <div class="label_and_input">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="label_and_input">
                    <label for="lastname">Lastname</label>
                    <input type="text" id="lastname" name="lastname" required>
                </div>
                <div class="update-btn">
                    <button type="button" onclick="showUserDetail()">Back</button>
                    <button type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<script src="{% static 'js/app.js' %}"></script>
</body>

</html>